.main{
    margin:2rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media only screen and (min-width : 320px) {
    .main{
        margin:1rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width : 768px) {

}
@media only screen and (min-width : 992px) {
    .main{
        margin:2rem 6rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}
@media only screen and (min-width : 1200px) {
    .main{
        margin:2rem 6rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}